@page "/"
@inherits IndexModel

<div class="text-center">
        <span style="font-size:1.75em">YouTube Playlist Manager</span>
    </div>
<div>
    <span style="font-size:1.5em; color:red">@ErrorMessage</span>
</div>
<div class="text-center">

    Current playlist
    <h3 style="color:darkred; font-weight:600">
        @if (SelectedPlaylist != null)
        {
            @SelectedPlaylist.Name
        }
    </h3>
</div>
<div class="row">

    @if (PageReady)
    {
        <div class="col text-center" style="margin-left:auto; margin-right:auto">
            <button class="btn btn-primary" @onclick=@(async() => await ChangePlaylist())>Change playlist</button>
        </div>
    }
    else
    {
        <h1 style="margin:auto">Sign in to create or add to playlists</h1>
    }
</div>

<div class="container">
    <div class="text-center">
        @if (ShowPlaylists)
        {
            @if (PageReady)
            {
                <div class="col mat-elevation-z24 playlistForm" style="flex:none;">

                    <h6>Select Playlist</h6>
                    <select class="form-control" @bind="PlaylistName">
                        <option value=""></option>
                        @foreach (var playlist in UserPlaylists)
                        {
                            <option value="@playlist.Name">@playlist.Name</option>
                        }
                    </select>
                    <button class="btn btn-primary" @onclick="SelectPlaylist">Select playlist</button>
                    <hr />
                    <button class="btn btn-primary" @onclick="ToggleNewPlaylist">Add new Playlist</button>
                    <hr />
                    @if (TogglePlaylist)
                    {
                        <div class="col" style="width:22rem; flex:none; padding:10px; height:auto;">
                            <h6>Add new Playlist</h6>
                            <MatTextField @bind-Value="NewPlaylist" Label="Add new Playlist"></MatTextField>
                            <button class="btn btn-primary" @onclick=@(() => AddNewPlaylist(NewPlaylist))>Add playlist</button>
                        </div>
                        <div class="col" style="width:22rem; flex:none; padding:10px; height:auto;">
                            <h5>Upload Playlist from Excel file</h5>
                            <MatFileUpload OnChange="@ReadExcelFile"></MatFileUpload>
                        </div>
                    }
                </div>              
            }           
        }
    </div>
</div>
@if (SelectedPlaylist != null)
{
    <div class="content text-center">
        <CascadingValue Value="SelectedPlaylist">
            <TabControl>
                <TabPage Text="Search for videos">
                    <SearchResults />
                </TabPage>
                <TabPage Text="Watch Videos from Playlist">
                    <Playlists />
                </TabPage>
                <TabPage Text="Delete Videos from playlist">
                    <DeleteVideos />
                </TabPage>
            </TabControl>
        </CascadingValue>
    </div>
}
@code{
   
}