@inherits SearchResultsModel

<h3>Search YouTube</h3>

<div class="text-center">
    <input type="text" @bind="SearchYouTube" @onkeyup="SearchVideoKeyup" /><br />
    <button class="btn btn-primary" @onclick="GetVideoResults">Search and watch</button>
    <button class="btn btn-secondary" @onclick="GetMaxResults">Search Simple</button>
</div>
<div>
    @if (IsPlayerReady)
    {
        <CascadingValue Value="VideoUrl">
            <VideoPlayer PlayerReadyChanged="OnPlayerReadyChanged" />
        </CascadingValue>
    }
</div>
<div class="row">
    @if (VideosReady)
    {
        <span><button class="btn btn-primary" @onclick="AddVideosToDatabase">Add all</button><br /></span>
        <div class="col" style="width:40em">
            <div class="text-center">
                <h4>Add or watch videos</h4><br />
            </div>
            <div class="card-columns-two" style="width:40em; margin-top:1em; padding:1em">
                @foreach (var video in Videos)
                {
                    <div class="card mat-elevation-z24 videocard" style="flex:none">
                        <MatTooltip Tooltip="@video.Description" Wrap="true">
                            <div class="card-header">@video.Title</div>
                            <div class="card-body">
                                click to watch<br/>
                                <button @onclick=@(() => PlayVideo(video))><img src="@video.ThumbnailUrl" /></button>
                            </div>
                        </MatTooltip>

                        <button class="btn btn-primary" @onclick=@(() => AddVideoToPlaylist(video))>Add to Playlist</button>
                    </div>
                }
            </div>
        </div>


        <div class="col">
            <div class="text-center">
                <h4>Added to <strong>@Playlist.Name</strong></h4>
            </div>
            @if (HasAdded)
            {
                <br />
                @foreach (var video in VideosAdded)
                {
                    <div class="card vidadded" style="flex:none;">
                        <p>@video.Title</p>
                        <button class="btn btn-primary" @onclick=@(() => RemoveFromPlaylist(video))>Remove</button>
                    </div>
                }
            }
        </div>
    }
    @if (MaxReady)
    {
        <div class="checkboxThreeCol">
            <button class="btn btn-primary" @onclick="AddSelectedVideos">Add Selected</button>
            <button class="btn btn-secondary" @onclick="SelectAll">Select All</button>
            @foreach (var video in Videos)
            {
                <MatTooltip Tooltip="@video.Description" Wrap="true">
                    <MatCheckbox @bind-Value="video.IsSelected">@video.Title</MatCheckbox>
                </MatTooltip>
            }

        </div>
    }
</div>

@code{

}
